@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Pretendard', -apple-system, sans-serif;
  background-color: #000;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

body, #root {
  width: 100%;
  min-height: 100vh;
}