@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Pretendard', -apple-system, sans-serif;
  background-color: #000;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

body, #root {
  width: 100%;
  min-height: 100vh;
}

/* index.css */
@media (max-width: 1024px) {
  .mobile-block-view { 
    display: flex !important; /* 모바일 시 차단창 활성화 */
  }
  .main-app-content { 
    display: none !important; /* 모바일 시 기존 앱 숨김 */
  }
}